// README
// Тут будут все переиспользуемые компоненты/блоки и
// просто некоторые классы для удобства.
// Они будут разделены по секциям, каждый со своими
// @media. Примеры названий: блок - b,
// елемент - b__e, модификатор - b_m или b__e_m.
// В названиях классов исользую camelCase и kebab-case.
// Почитать про ↑ можно тут https://medium.com/@vladimirmorulus/справка-по-case-camelcase-kebab-case-pascalcase-snake-case-и-все-case-ecda10463fa8
// Шаблон разделения блоков, элементов, модификаторов, событий.
//"
//---------------------------------------------
// block

// elements

// modificators

// events
//"
//==========================================
// Компоненты/блоки
//---------------------------------------
//oderCall
.orderCall {
	@include df-jcx-aic(center);
	border-radius: 7px;
	font-size: 13px;
	width: 167px;
	cursor: pointer;
}
// елементьы
.orderCall__Img {
	margin: 10px 13px 10px 0px;
}
.orderCallText {
}
// модификаторы
.orderCall_color-1 {
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: $color-2;
}
.orderCall_mobileInBlock-1 {
	display: none;
	margin-top: 27px;
}
.orderCall_block-1Header {
}
// события
.orderCall:hover {
}
.orderCall_color-1:hover {
	border: solid 1px #fff;
}

@media (max-width: 650px) {
	.orderCall_mobileInBlock-1 {
		display: flex;
	}
}
//----------------------------------------
// labelInput
.labelInput {
	position: relative;
}
// елементы
.labelInput__label {
	position: absolute;
	left: 15px;
	pointer-events: none;
	top: 10px;
	font-size: 18px;
	line-height: 18px;
	transition: 0.3s;
}
.labelInput__textArea {
	color: rgb(255, 255, 255, 0.5);
	font-size: 18px;
	width: 380px;
	height: 80px;
	border: solid 1px rgba(255, 255, 255, 0.2);
	border-radius: 7px;
	padding: 10px 21px 20px 21px;
	// margin-bottom: 16px;
}
.labelInput__input {
}
// модификаторы
.labelInput_orderCallForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.labelInput__input_orderCallForm {
	border: solid 2px #337c7e;
	width: 380px;
	border-radius: 7px;
	height: 42px;
	padding: 0 21px;
}
.labelInput_margin {
	margin: 23px 0 20px 0;
}
.labelInput__label_OrderCallForm {
	color: $color-6;
}
.labelInput__label_formQuestion {
	color: rgba(255, 255, 255, 0.5);
}
.labelInput_formQuestion {
	font-family: $font-2;
	margin-bottom: 16px;
	display: flex;
	align-items: start;
	flex-direction: column;
}
.labelInput__input_formQuestion {
	width: 380px;
	height: 42px;
	border: solid 1px rgba(255, 255, 255, 0.2);
	border-radius: 7px;
	color: rgb(255, 255, 255, 0.5);
	font-size: 18px;
	padding: 0 21px;
}
.labelInput__invalidFormat {
	background-color: red;
	min-width: 160px;
	min-height: 24px;
	border-radius: 7px;
	padding: 0 11px;
	justify-content: center;
	align-items: center;
	display: none;
	font-size: 14px;
	color: $color-2;
	opacity: 0.8;
	margin-top: 7px;
}
// события
.labelInput__input:focus ~ .labelInput__label,
.labelInput__input:not(:focus):valid ~ .labelInput__label {
	top: -10px;
	left: 2px;
	line-height: 12px;
	text-transform: uppercase;
	font-size: 7px;
}
.labelInput__input_formQuestion::placeholder {
	color: rgb(255, 255, 255, 0.5);
}
.labelInput__textArea::placeholder {
	color: rgb(255, 255, 255, 0.5);
}
.labelInput__textArea:focus ~ .labelInput__label,
.labelInput__textArea:not(:focus):valid ~ .labelInput__label {
	top: -10px;
	left: 2px;
	line-height: 12px;
	text-transform: uppercase;
	font-size: 7px;
}
.labelInput__input:focus ~ .labelInput__label_formQuestion,
.labelInput__input:not(:focus):valid ~ .labelInput__label_formQuestion {
	color: $color-2;
}
.labelInput__textArea:focus ~ .labelInput__label_formQuestion,
.labelInput__textArea:not(:focus):valid ~ .labelInput__label_formQuestion {
	color: $color-2;
}

@media (max-width: 840px) {
	.labelInput__input_formQuestion {
		// max-width: 350px;
		width: 90%;
		padding: 0 12px;
	}
	.labelInput_formQuestion {
		margin-bottom: 12px;
	}
	.labelInput__textArea {
		// max-width: 350px;
		width: 90%;
		// margin-bottom: 12px;
		padding: 10px;
	}
}
@media (max-width: 600px) {
	.labelInput__input_formQuestion {
		width: 100%;

		padding: 0 12px;
	}
	.labelInput_formQuestion {
		margin-bottom: 20px;
	}
	.labelInput__textArea {
		width: 100%;
		// margin-bottom: 25px;
		padding: 10px;
	}
}
@media (max-width: 470px) {
	.labelInput__input_orderCallForm {
		width: 100%;
	}
}
@media (max-width: 350px) {
	.labelInput_margin {
		margin: 15px 0 10px 0;
	}

	.labelInput__input_orderCallForm {
		padding: 0 12px;
	}
}

//---------------------------------
// block-1
.block-1 {
	display: flex;
	flex-direction: column;
	align-items: start;
}
// елeменты
.block-1__workTime {
	color: $color-4;
	font-size: 15px;
}
.block-1__phoneNumber {
	font-size: 32px;
	font-family: $font-1;
	color: $color-2;
	line-height: 24px;
}
.block-1__linkIcons {
	margin: 21px 0 23px 0;
	display: flex;
	justify-content: space-between;
	width: 218px;
}

// модификаторы
.block-1_aie {
	align-items: end;
}
.block-1__phoneNumber_1 {
	margin: 21px 0 16px 0;
}
.block-1_mobile {
	display: none;
}
.block-1_mobileHeaderNav {
	align-items: start;
	margin-top: 30px;
	.block-1__phoneNumber {
		font-size: 28px;
	}
	.block-1__phoneNumber_1 {
		margin: 30px 0 20px 0;
	}
	.block-1__workTime {
		font-size: 24px;
	}
	.block-1__linkIcons {
		width: 210px;
	}
	.block-1__imgIcon {
		width: 40px;
		height: 40px;
	}
}
@media (max-width: 1100px) {
	.block-1__phoneNumber {
		font-size: 25px;
	}
}
@media (max-width: 840px) {
	.block-1__linkIcons {
		width: 150px;
	}
	.block-1__phoneNumber {
		font-size: 18px;
	}
	.block-1__workTime {
		font-size: 12px;
	}
	.block-1__imgIcon {
		width: 27px;
		height: 27px;
	}
	.block-1_mobile {
		display: flex;
	}
}
@media (max-width: 650px) {
	.block-1_footer {
		order: -1;
		align-items: center;
		margin: 18px 0 0 0;
	}
	.block-1__location {
		margin-bottom: 22px;
	}
	.block-1__workTime {
		font-size: 13px;
	}
	.block-1__phoneNumber_1 {
		margin: 15px 0 5px 0;
	}
	.block-1__linkIcons {
		margin: 30px 0 14px 0;
	}
}
@media (max-width: 420px) {
	.block-1_mobileHeaderNav {
		.block-1__phoneNumber {
			font-size: 21px;
		}
		.block-1__phoneNumber_1 {
			margin: 20px 0 10px 0;
		}
		.block-1__workTime {
			font-size: 18px;
		}
		.block-1__linkIcons {
			width: 160px;
		}
		.block-1__imgIcon {
			width: 30px;
			height: 30px;
		}
	}
}
@media (max-width: 350px) {
	.block-1_mobileHeaderNav {
		.block-1__phoneNumber_1 {
			margin: 15px 0 10px 0;
		}
		.block-1__workTime {
			font-size: 15px;
		}
	}
	.orderCall_mobileInBlock-1 {
		margin-top: 15px;
	}
}
//-------------------------------------------
// block
.burger {
	display: none;
	width: 72px;
	height: 50px;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	align-items: center;
	border-left: solid 2px #fff;
	.burger__line:nth-child(2) {
		margin: 6px 0;
	}
}
// elements
.burger__line {
	height: 3px;
	width: 21px;
	background-color: $color-2;
}
// modificators

// events

@media (max-width: 840px) {
	.burger {
		display: flex;
	}
}

//--------------------------------------------
// block
.btnClose {
	width: 27px;
	height: 27px;
	cursor: pointer;
	display: none;
}
// elements
.btnClose_headerNav {
	position: absolute;
	top: 30px;
	right: 30px;
}
// modificators
.btnClose_orderCallform {
	position: absolute;
	top: 16px;
	right: 17px;
	display: block;
}
// events

@media (max-width: 840px) {
	.btnClose {
		display: block;
	}
}
@media (max-width: 350px) {
	.btnClose_orderCallform {
		top: 8px;
		right: 8px;
	}
}
//---------------------------------------------
// block

.orderCallForm {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	z-index: 3;
	background-color: rgba(236, 239, 246, 0.9);
}
// elements

.orderCallForm__cont {
	border: solid 2px #337c7e;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 580px;
	background-color: $color-2;
	min-height: 400px;
	box-shadow: 0px 4px 25px 0px #337c7e40;
	border-radius: 15px;
	position: relative;
}
.orderCallForm__h3 {
	width: 380px;
	font-size: 24px;
	text-align: center;
	line-height: 32px;
	color: $color-6;
	font-family: $font-1;
	margin: 32px 0 35px 0;
}
.orderCallForm__text {
	max-width: 380px;
	font-size: 13px;
	color: #666;
	margin-bottom: 15px;
}

.orderCallForm__submit {
	min-width: 180px;
	min-height: 42px;
	margin-bottom: 15px;
	font-size: 18px;
	background-color: #337c7e;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-2;
}
.orderCallForm__miniCont {
	display: flex;
	align-items: start;
	flex-direction: column;
}

.orderCallForm__smailik {
	margin: 87px 0 25px 0;
}
.orderCallForm__resText {
	font-size: 24px;
	line-height: 32px;
	color: $color-6;
	font-family: $font-1;
}
.orderCallForm__btnClose {
	width: 180px;
	height: 42px;
	color: $color-2;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-7;
	border-radius: 7px;
	margin-top: 25px;
	font-size: 18px;
}

// modificators
.orderCall_header {
	border: solid 1px rgba(117, 118, 180, 0.5);
	color: $color-3;
}
// events
.orderCall_header:hover {
	border: solid 1px #7576b4;
}

@media (max-width: 840px) {
	.orderCallForm__cont {
		margin: 0 20px;
	}
}
@media (max-width: 470px) {
	.orderCallForm__miniCont {
		width: 90%;
	}
	.orderCallForm__h3 {
		font-size: 20px;
		width: 100%;
		margin: 32px 0 12px 0;
		line-height: 25px;
	}
}
@media (max-width: 400px) {
	.orderCallForm__text {
		font-size: 11px;
	}
	.orderCallForm__cont {
		min-height: 380px;
	}
}
@media (max-width: 350px) {
	.orderCallForm__submit {
		margin-bottom: 10px;
	}
}
@media (max-width: 300px) {
	.orderCallForm__h3 {
		font-size: 16px;
	}
}
@keyframes orderCallFormOpen {
	0% {
		left: -110%;
	}
	100% {
		left: 0;
	}
}
@keyframes orderCallFormClose {
	0% {
		left: 0;
	}
	100% {
		left: 110%;
	}
}

//---------------------------------------------
// block
.formQuestion {
	display: flex;
	width: 100vw;
}
// elements

.formQuestion__img {
	width: 50%;
}
.formQuestion__cont {
	background-color: #337c7e;
	width: 50%;
	display: flex;
	flex-direction: column;
	color: $color-2;
	padding-left: 110px;
}
.formQuestion__h3 {
	font-size: 32px;
	margin-top: 26px;
}
.formQuestion__subH3 {
	font-size: 15px;
	margin-bottom: 32px;
	font-family: $font-2;
}

.formQuestion__submit {
	box-shadow: 0px 2px 15px 0px #0000000d;
	background-color: #b5cfe4;
	width: 180px;
	height: 42px;
	display: flex;
	align-items: center;
	color: #337c7e;
	justify-content: center;
	border-radius: 7px;
	font-size: 18px;
	margin-bottom: 24px;
}
.formQuestion__text {
	color: rgba(255, 255, 255, 0.5);
	font-size: 13px;
	margin-bottom: 21px;
}
// modificators

// events
.formQuestion__submit:hover {
	background-color: $color-2;
}

@media (max-width: 1100px) {
	.formQuestion__cont {
		padding-left: 30px;
	}
	.formQuestion__h3 {
		margin-top: 13px;
		font-size: 29px;
	}
	.formQuestion__subH3 {
		font-size: 14px;
		margin-bottom: 26px;
	}
	.formQuestion__submit {
		margin-bottom: 12px;
	}
}
@media (max-width: 840px) {
	.formQuestion__cont {
		padding-left: 20px;
	}
	.formQuestion__h3 {
		margin-top: 4px;
		font-size: 23px;
	}
	.formQuestion__subH3 {
		font-size: 12px;
		margin-bottom: 14px;
	}
	.formQuestion__submit {
		margin-bottom: 6px;
	}
}
@media (max-width: 600px) {
	.formQuestion {
		flex-direction: column;
	}
	.formQuestion__img {
		width: 100%;
	}
	.formQuestion__cont {
		width: 100%;
		padding: 0 6.25%;
	}

	.formQuestion__h3 {
		margin-top: 33px;
		font-size: 24px;
	}
	.formQuestion__subH3 {
		font-size: 15px;
		margin-bottom: 18px;
		// max-width: 350px;
	}
	.formQuestion__submit {
		margin-bottom: 15px;
		// width: 350px;
		width: 100%;
	}

	.formQuestion__text {
		margin-bottom: 41px;
	}
}
@media (max-width: 315px) {
	.formQuestion__submit {
		// width: 100%;
	}
	.formQuestion__h3 {
		font-size: 21px;
		margin-top: 21px;
	}
}
@media (min-width: 1800px) {
	.formQuestion {
		height: 495px;
		overflow-y: hidden;
	}
	.formQuestion__img {
		height: 725px;
		transform: translateY(-80px);
	}
}
//---------------------------------------------
// block

// elements

// modificators

// events

//---------------------------------------------
// block

// elements

// modificators

// events

//=========================================
// Классы
.df-fld-aic {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bc-3 {
	background-color: $color-3;
}
