extends ../layoutsForPages/page_contacts/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_contacts

block footer
	include ../repeatStructure/footer