extends ../layoutsForPages/page_gallery/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_gallery

block footer
	include ../repeatStructure/footer