extends ../layoutsForPages/page_house/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_house_new

block footer
	include ../repeatStructure/footer