extends ../layoutsForPages/page_flats/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_flats

block footer
	include ../repeatStructure/footer