extends ../layoutsForPages/page_news/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_news

block footer
	include ../repeatStructure/footer