extends ../layoutsForPages/page_location/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_location

block footer
	include ../repeatStructure/footer