extends ../layoutsForPages/page_flat/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_flat

block footer
	include ../repeatStructure/footer