extends ../layoutsForPages/page_webCamers/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_webCamers

block footer
	include ../repeatStructure/footer