extends ../layoutsForPages/page_parking/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_parking

block footer
	include ../repeatStructure/footer