extends ../layoutsForPages/page_main/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_main

block footer
	include ../repeatStructure/footer