extends ../layoutsForPages/page_documents/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_documents

block footer
	include ../repeatStructure/footer