extends ../layoutsForPages/page_galleryAlbum/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_galleryAlbum

block footer
	include ../repeatStructure/footer