extends ../layoutsForPages/page_article/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_article

block footer
	include ../repeatStructure/footer