extends ../layoutsForPages/page_parking_svg/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_parking_svg

block footer
	include ../repeatStructure/footer