extends ../layoutsForPages/page_section/default

block head
	- var pageTitle = '';

block header
	include ../repeatStructure/header

block main
	include ../differentStructure/page_section_1

block footer
	include ../repeatStructure/footer