//---------------------------------------------
// block
.main {
	flex-direction: column;
	position: relative;
	min-height: 1000px;
	align-items: center;
	@include parent-container(start);
	.container {
		p {
			margin-bottom: 30px;
			font-size: 18px;
			font-family: $font-2;
			color: $color-6;
			line-height: 24px;
			max-width: 900px;
		}
		h1 {
			color: $color-3;
			font-size: 48px;
			max-width: 700px;
			margin-bottom: 30px;
			line-height: 66px;
		}

		h2 {
			color: $color-6;
			font-size: 32px;
			max-width: 900px;
			margin: 10px 0 20px 0;
			line-height: 43px;
		}

		h3 {
			color: $color-6;
			font-size: 24px;
			max-width: 900px;
			margin-bottom: 20px;
			line-height: 32px;
		}
		h6 {
			color: $color-6;
			font-size: 18px;
			max-width: 900px;
			margin-bottom: 15px;
			line-height: 24px;
			font-family: $font-2;
		}
		img {
			margin-bottom: 30px;
		}
		ul {
			margin-bottom: 30px;
			font-size: 18px;
			font-family: $font-2;
			color: $color-6;
			line-height: 24px;
			li {
				margin-bottom: 25px;
			}
			li::before {
				content: "-";
				width: 12px;
				margin-right: 19px;
				height: 2px;
				color: $color-3;
			}
		}
		span {
			background-color: #d2e4f0;
			padding: 24px 28px 26px 27px;
			display: block;
			max-width: 780px;
			font-size: 18px;
			font-family: $font-2;
			margin-bottom: 20px;
			line-height: 24px;
		}
		ol {
			margin-bottom: 30px;
			font-size: 18px;
			font-family: $font-2;
			color: $color-6;
			list-style-type: none; /* Убираем исходные маркеры */
			counter-reset: my-counter; /* Задаём имя счетчика */
			line-height: 24px;
			li {
				display: flex;
				align-items: center;
				margin-bottom: 11px;
			}
			li::before {
				content: counter(my-counter); /* Выводим число */
				counter-increment: my-counter; /* Увеличиваем значение счётчика */
				width: 30px;
				margin-right: 19px;
				height: 30px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				border: $color-4 2px solid;
				color: $color-3;
			}
		}
		table {
			margin-bottom: 30px;
			transform: translateX(-40px);
			width: 780px;
			th {
				color: $color-6;
				font-size: 15px;
				text-align: center;
				// text-align: start;
				line-height: 20px;
				padding-bottom: 22px;
			}
			td {
				color: $color-6;
				text-align: center;
				font-size: 15px;
				padding-bottom: 21px;
				line-height: 20px;
				font-family: $font-2;
			}
		}
		button {
			margin-bottom: 50px;
			padding: 8px 30px;
			font-family: $font-2;
			font-size: 18px;
			line-height: 24px;
			border-radius: 7px;
			color: $color-2;
			box-shadow: 0px 2px 15px 0px #0000000d;
			background-color: $color-7;
		}
		button:hover {
			background-color: #5c9698;
		}
	}
}

// elements
.main__contWay {
	margin: 56px 0 10px 0;
	display: flex;
	align-items: center;
}
.main__way {
	font-size: 15px;
	font-family: $font-2;
	line-height: 20px;
	color: $color-7;
	margin-right: 11px;
}
.main__wayArrow {
	margin-right: 11px;
}

// modificators

// events
@media (max-width: 900px) {
	.main {
		.container {
			p {
				margin-bottom: 25px;
				font-size: 16px;
				line-height: 22px;
			}
			h1 {
				font-size: 38px;
				max-width: 700px;
				margin-bottom: 25px;
				line-height: 54px;
			}
			h2 {
				font-size: 26px;
				margin: 10px 0 20px 0;
				line-height: 36px;
			}
			h3 {
				font-size: 20px;
				margin-bottom: 15px;
				line-height: 28px;
			}
			h6 {
				font-size: 16px;
				margin-bottom: 15px;
				line-height: 21px;
			}
			img {
				margin-bottom: 25px;
				width: 90vw;
			}
			ul {
				margin-bottom: 25px;
				font-size: 18px;
				font-family: $font-2;
				color: $color-6;
				line-height: 24px;
				li {
					margin-bottom: 25px;
				}
				li::before {
					content: "-";
					width: 12px;
					margin-right: 19px;
					height: 2px;
					color: $color-3;
				}
			}
			span {
				background-color: #d2e4f0;
				padding: 24px 28px 26px 27px;
				display: block;
				max-width: 780px;
				font-size: 17px;
				font-family: $font-2;
				margin-bottom: 20px;
				line-height: 22px;
			}
			ol {
				margin-bottom: 25px;
				font-size: 18px;
				font-family: $font-2;
				color: $color-6;
				list-style-type: none; /* Убираем исходные маркеры */
				counter-reset: my-counter; /* Задаём имя счетчика */
				line-height: 24px;
				li {
					display: flex;
					align-items: center;
					margin-bottom: 11px;
				}
				li::before {
					content: counter(my-counter); /* Выводим число */
					counter-increment: my-counter; /* Увеличиваем значение счётчика */
					width: 30px;
					margin-right: 19px;
					height: 30px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					border: $color-4 2px solid;
					color: $color-3;
				}
			}
			table {
				margin-bottom: 30px;
				width: 90vw;
				max-width: 780px;
				th {
					color: $color-6;
					font-size: 15px;
					text-align: center;
					line-height: 20px;
					padding-bottom: 22px;
				}
				td {
					color: $color-6;
					text-align: center;
					font-size: 15px;
					padding-bottom: 21px;
					line-height: 20px;
					font-family: $font-2;
				}
			}
			button {
				margin-bottom: 50px;
				padding: 8px 30px;
				font-family: $font-2;
				font-size: 18px;
				line-height: 24px;
				border-radius: 7px;
				color: $color-2;
				box-shadow: 0px 2px 15px 0px #0000000d;
				background-color: $color-7;
			}
			button:hover {
				background-color: #5c9698;
			}
		}
	}
}
@media (max-width: 750px) {
	.main {
		.container {
			table {
				transform: translateX(0);
			}
		}
	}
}
@media (max-width: 600px) {
	.main {
		.container {
			p {
				margin-bottom: 25px;
				font-size: 15px;
				line-height: 22px;
			}
			h1 {
				font-size: 30px;
				max-width: 700px;
				margin-bottom: 25px;
				line-height: 40px;
			}
			h2 {
				font-size: 22px;
				margin: 10px 0 20px 0;
				line-height: 32px;
			}
			h3 {
				font-size: 16px;
				margin-bottom: 15px;
				line-height: 24px;
			}
			h6 {
				font-size: 14px;
				margin-bottom: 15px;
				line-height: 18px;
			}
			img {
				margin-bottom: 25px;
			}
			ul {
				margin-bottom: 25px;
				font-size: 15px;
				font-family: $font-2;
				color: $color-6;
				line-height: 20px;
				li {
					margin-bottom: 15px;
				}
				li::before {
					content: "-";
					width: 12px;
					margin-right: 12px;
					height: 2px;
					color: $color-3;
				}
			}
			span {
				background-color: #d2e4f0;
				padding: 18px 20px 18px 19px;
				display: block;
				max-width: 780px;
				font-size: 16px;
				font-family: $font-2;
				margin-bottom: 20px;
				line-height: 20px;
			}
			ol {
				margin-bottom: 25px;
				font-size: 18px;
				font-family: $font-2;
				color: $color-6;
				list-style-type: none; /* Убираем исходные маркеры */
				counter-reset: my-counter; /* Задаём имя счетчика */
				line-height: 24px;
				li {
					display: flex;
					align-items: center;
					margin-bottom: 11px;
				}
				li::before {
					content: counter(my-counter); /* Выводим число */
					counter-increment: my-counter; /* Увеличиваем значение счётчика */
					width: 30px;
					margin-right: 19px;
					height: 30px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					border: $color-4 2px solid;
					color: $color-3;
				}
			}
			table {
				margin-bottom: 30px;
				width: 780px;
				overflow-x: scroll;
				max-width: 780px;
				th {
					color: $color-6;
					font-size: 15px;
					text-align: center;
					line-height: 20px;
					padding-bottom: 22px;
				}
				td {
					color: $color-6;
					text-align: center;
					font-size: 15px;
					padding-bottom: 21px;
					line-height: 20px;
					font-family: $font-2;
				}
			}
			.contTable {
				overflow-x: scroll;
			}
			button {
				margin-bottom: 50px;
				padding: 8px 30px;
				font-family: $font-2;
				font-size: 18px;
				line-height: 24px;
				border-radius: 7px;
				color: $color-2;
				box-shadow: 0px 2px 15px 0px #0000000d;
				background-color: $color-7;
			}
			button:hover {
				background-color: #5c9698;
			}
		}
	}
}
@media (max-width: 360px) {
	.main {
		.container {
			p {
				margin-bottom: 25px;
				font-size: 14px;
				line-height: 20px;
			}
			h1 {
				font-size: 20px;
				max-width: 700px;
				margin-bottom: 15px;
				line-height: 26px;
			}
			h2 {
				font-size: 16px;
				margin: 10px 0 15px 0;
				line-height: 18px;
			}
			h3 {
				font-size: 15px;
				margin-bottom: 15px;
				line-height: 19px;
			}
			h6 {
				font-size: 14px;
				margin-bottom: 15px;
				line-height: 17px;
			}
			img {
				margin-bottom: 20px;
			}
			ul {
				margin-bottom: 20px;
				font-size: 15px;
				font-family: $font-2;
				color: $color-6;
				line-height: 18px;
				li {
					margin-bottom: 15px;
				}
				li::before {
					content: "-";
					width: 12px;
					margin-right: 12px;
					height: 2px;
					color: $color-3;
				}
			}
			span {
				background-color: #d2e4f0;
				padding: 12px 14px 12px 13px;
				display: block;
				max-width: 780px;
				font-size: 15px;
				font-family: $font-2;
				margin-bottom: 15px;
				line-height: 16px;
			}
			ol {
				margin-bottom: 20px;
				font-size: 16px;
				font-family: $font-2;
				color: $color-6;
				list-style-type: none; /* Убираем исходные маркеры */
				counter-reset: my-counter; /* Задаём имя счетчика */
				line-height: 21px;
				li {
					display: flex;
					align-items: center;
					margin-bottom: 11px;
				}
				li::before {
					content: counter(my-counter); /* Выводим число */
					counter-increment: my-counter; /* Увеличиваем значение счётчика */
					width: 25px;
					margin-right: 14px;
					height: 25px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					border: $color-4 2px solid;
					color: $color-3;
				}
			}
			table {
				margin-bottom: 20px;
				width: 780px;
				overflow-x: scroll;
				max-width: 780px;
				th {
					color: $color-6;
					font-size: 15px;
					text-align: center;
					line-height: 18px;
					padding-bottom: 16px;
				}
				td {
					color: $color-6;
					text-align: center;
					font-size: 15px;
					padding-bottom: 16px;
					line-height: 18px;
					font-family: $font-2;
				}
			}
			.contTable {
				overflow-x: scroll;
			}
			button {
				margin-bottom: 50px;
				padding: 6px 20px;
				font-family: $font-2;
				font-size: 15px;
				line-height: 28px;
				border-radius: 7px;
				color: $color-2;
				box-shadow: 0px 2px 15px 0px #0000000d;
				background-color: $color-7;
			}
			button:hover {
				background-color: #5c9698;
			}
		}
	}
}
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
