//-----------------------------------
// block
.main {
	flex-direction: column;
	position: relative;
	min-height: 1000px;
	align-items: center;

	@include parent-container(start);
	.container {
	}
}
// elements
.main__foto {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	z-index: -1;
}

// modificators

// events

//---------------------------------------------
// block
.infoContHome {
	display: flex;
	flex-direction: column;
	align-items: start;
	font-family: $font-1;
}
// elements
.infoContHome__row {
	display: flex;
	align-items: center;
	margin: 10px 0;
}
.infoContHome__icon {
	margin-right: 23px;
}

.infoContHome__text {
	font-size: 24px;
	font-family: $font-1;
	color: #232323;
}
.infoContHome__h2 {
	font-size: 64px;
	font-family: $font-1;
	color: $color-6;
	line-height: 64px;
	margin-bottom: 30px;
}

.infoContHome__btn {
	background-color: $color-4;
	min-width: 280px;
	min-height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $color-2;
	font-size: 18px;
	margin-top: 30px;
}

// modificators
.infoContHome_marginMain {
	margin: 86px 0 60px 0;
}
// events

//---------------------------------------------
// block
.infoConts {
	display: flex;
	justify-content: space-between;
	font-family: $font-1;
}
// elements

// modificators
.infoConts_margin {
	margin-bottom: 54px;
}
// events

//---------------------------------------------
// block
.infoContOlimp {
}
// elements
.infoContOlimp__h2 {
	font-size: 48px;
	color: $color-3;
	line-height: 48px;
}
.infoContOlimp__text {
	font-size: 24px;
	color: $color-6;
	width: 450px;
}
// modificators
.infoContOlimp_infoConts {
	margin: 130px 0 35px 0;
}
// events
//---------------------------------------------
// block
.infoContPermission {
	font-size: 18px;
	text-align: center;
	color: $color-2;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 640px;
	height: 340px;
}
// elements
.infoContPermission__h3 {
	z-index: 2;
	margin: 110px 0 25px 0;
}
.infoContPermission__text {
	width: 540px;
	z-index: 2;
}
.infoContPermission__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 640px;
	z-index: 0;
}
.infoContPermission__miniPhoto {
	width: 118px;
	position: absolute;
	top: -10px;
	z-index: 1;
	height: 61px;
	left: calc(50% - 59px);
}
// modificators

// events
//---------------------------------------------
// block
.infoLinks {
	display: flex;
	justify-content: space-between;
}
// elements
.infoLinks__column {
	display: flex;
	max-width: 270px;
	align-items: center;
}
.infoLinks__icon {
	margin-right: 20px;
	width: 40px;
}
.infoLinks__block {
}
.infoLinks__a {
	color: $color-7;
	font-size: 18px;
	line-height: 24px;
}
.infoLinks__text {
	color: $color-6;
	font-size: 15px;
	font-family: $font-2;
	line-height: 20px;
}
.infoLinks__background {
	position: absolute;
	width: 100vw;
	left: 0;
	z-index: -1;
	margin-top: 25px;
}
// modificators
.infoLinks_margin {
	margin-bottom: 72px;
}
// events
.infoLinks__a:hover {
	color: $color-4;
}
//---------------------------------------------
// block
.news {
}
// elements
.news__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.news__h2 {
	font-size: 32px;
	font-family: $font-1;
	color: $color-6;
}
.news__inArchive {
	font-size: 18px;
	color: $color-7;
}
.news__slider {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.news__slide {
}
.news__time {
	font-family: $font-2;
	color: #757575;
	font-size: 14px;
	margin-bottom: 6px;
	line-height: 19px;
}
.news__h3 {
	font-size: 17px;
	font-family: $font-1;
	margin-bottom: 10px;
	line-height: 24px;
	color: $color-7;
	max-width: 380px;
}
.news__text {
	max-width: 340px;
	font-size: 14px;
	color: $color-6;
	font-family: $font-2;
	line-height: 20px;
}

// modificators
.news_margin {
	margin-bottom: 70px;
}
// events
.news__h3:hover {
	color: $color-4;
}
.news__inArchive:hover {
	color: $color-4;
}

//---------------------------------------------
// block
.layout {
	height: calc(62.08vw - 30px);
}
// elements
.layout__h2 {
	text-align: center;
	font-size: 32px;
	color: $color-6;
}
.layout__img {
	position: absolute;
	left: 0;
	width: 100vw;
	margin-top: -84px;
	z-index: -1;
}
// modificators

// events
//---------------------------------------------
// block
.location {
}
// elements
.location__h2 {
	font-size: 32px;
	color: $color-6;
	margin: 35px 0 25px 0;
	line-height: 44px;
}
.location__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.location__column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.location__text {
	max-width: 150px;
	text-align: center;
	font-size: 15px;
	color: $color-6;
	font-family: $font-2;
}
.location__img {
	width: 100vw;
	position: absolute;
	left: 0;
}
.location__map {
	width: 100%;
	height: 31.25vw;
	margin-bottom: 40px;
}
// modificators

// events
//---------------------------------------------
// block
.payment {
	p {
		font-size: 18px;
		font-family: $font-2;
		color: $color-6;
		line-height: 24px;
		margin-bottom: 30px;
	}
}
// elements
.payment__h2 {
	font-size: 32px;
	color: $color-6;
	margin-bottom: 30px;
	line-height: 44px;
}
.payment__slide {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.payment__bank {
}
// modificators
.payment__slide_jcsb {
	justify-content: space-between;
}
.payment__slide_imgMargin {
	img {
		margin-right: 20px;
	}
}
.payment_margin {
	margin-bottom: 35px;
}
// events

//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
