.main {
	flex-direction: column;
	position: relative;
	min-height: 1000px;
	align-items: center;
	@include parent-container(start);
	.container {
	}
}
//---------------------------------------------
// block

// elements

// modificators

// events
