@import "../repeatStyles/help/variables.scss";
@import "../repeatStyles/help/mixins.scss";
//-----------------------------------
// block
.main {
	flex-direction: column;
	position: relative;
	align-items: center;
	@include parent-container(start);
	.container {
	}
}
// elements
.main__parkingImg {
	margin-bottom: 40px;
	width: 100%;
}
// modificators

// events
@media (max-width: 750px) {
}
//-----------------------------------
// block
.parking {
	display: flex;
	justify-content: space-between;
}
// elements

.parking__btnLeaveRequest {
	max-width: 380px;
	height: 64px;
	padding: 23px 20px;
	width: 100%;
}
.parking__delivery {
	.delivery__contInfo {
		margin-bottom: 30px;
	}
}
.parking__block {
	margin-right: 20px;
}
// modificators
.parking_margin {
	margin-bottom: 62px;
}
// events
@media (max-width: 950px) {
	.parking {
		flex-direction: column;
	}
}
@media (max-width: 800px) {
	.parking__delivery {
	}
}
@media (max-width: 450px) {
	.parking_margin {
		margin-bottom: 10px;
	}
}

//-----------------------------------
// block

// elements

// modificators

// events
//-----------------------------------
// block

// elements

// modificators

// events
//-----------------------------------
// block

// elements

// modificators

// events
//===================================
// Ниже переопределённые компоненты из
// файла repeatStyles.

//---------------------------------------------
// block
.main {
	p {
		margin-bottom: 30px;
		font-size: 18px;
		font-family: $font-2;
		color: $color-6;
		line-height: 24px;
		max-width: 680px;
	}

	h3 {
		color: $color-6;
		font-size: 24px;
		max-width: 560px;

		margin-bottom: 20px;
		line-height: 32px;
	}
}
// elements

// modificators

// events

@media (max-width: 900px) {
	.main {
		p {
			margin-bottom: 25px;
			font-size: 16px;
			line-height: 22px;
		}

		h3 {
			font-size: 20px;
			margin-bottom: 15px;
			line-height: 28px;
		}
	}
}

@media (max-width: 600px) {
	.main {
		p {
			margin-bottom: 25px;
			font-size: 15px;
			line-height: 22px;
		}

		h3 {
			font-size: 16px;
			margin-bottom: 15px;
			line-height: 24px;
		}
	}
}
@media (max-width: 360px) {
	.main {
		p {
			margin-bottom: 25px;
			font-size: 14px;
			line-height: 20px;
		}

		h3 {
			font-size: 15px;
			margin-bottom: 15px;
			line-height: 19px;
		}
	}
}
//---------------------------------------------
// block
.filter {
	max-width: 480px;
	margin-bottom: 30px;
}
.explanationBlock {
	margin-bottom: 20px;
}
// elements

// modificators

// events
//===================================
