@import "../repeatStyles/help/variables.scss";
@import "../repeatStyles/help/mixins.scss";
//---------------------------------------------
// block
.main {
	flex-direction: column;
	position: relative;
	align-items: center;
	@include parent-container(start);
	.container {
	}
}

// elements

// modificators

// events

//---------------------------------------------
// block
.listGallerys {
}
// elements
.listGallerys__row {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}
.listGallerys__contDate {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.listGallerys__textDate {
	font-size: 32px;
	line-height: 43px;
	color: $color-4;
	margin-left: 34px;
}
.listGallerys__textDom {
	font-size: 24px;
	line-height: 32px;
	color: $color-6;
}

.listGallerys__contImg {
	position: relative;
	margin: 0 100px;
}
.listGallerys__imgTextBackground {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	color: $color-2;
	height: 100%;
	font-size: 24px;
	line-height: 32px;
	background-color: rgb(0, 0, 0, 0.35);
}
.listGallerys__iconDate {
	width: 64px;
	height: 64px;
}
.listGallerys__img {
	width: 380px;
	height: 230px;
}
// modificators

// events
.listGallerys__contImg:hover {
	.listGallerys__imgTextBackground {
		display: flex;
	}
}
@media (max-width: 1050px) {
	.listGallerys__row {
		margin-bottom: 30px;
	}

	.listGallerys__textDate {
		font-size: 24px;
		line-height: 28px;
		margin-left: 20px;
	}
	.listGallerys__textDom {
		font-size: 20px;
		line-height: 24px;
	}
	.listGallerys__contImg {
		margin: 0 40px;
	}
}
@media (max-width: 850px) {
	.listGallerys__textDate {
		font-size: 20px;
		line-height: 24px;
		margin-left: 10px;
	}
	.listGallerys__textDom {
		font-size: 16px;
		line-height: 20px;
	}
	.listGallerys__contImg {
		margin: 0 20px;
	}
	.listGallerys__iconDate {
		width: 45px;
		height: 45px;
	}
	.listGallerys__img {
		max-width: 380px;
		width: 43vw;
		height: auto;
	}
}
@media (max-width: 450px) {
	.listGallerys__row {
		flex-direction: column;
		align-items: start;
		margin-bottom: 60px;
	}
	.listGallerys__img {
		max-width: 400px;
		width: 100%;
	}
	.listGallerys__contImg {
		width: 100%;
		margin: 0 0 5px 0;
	}
	.listGallerys__textDate {
		font-size: 24px;
		line-height: 28px;
		margin-left: 10px;
	}
	.listGallerys__textDom {
		font-size: 20px;
		line-height: 24px;
	}
	.listGallerys__iconDate {
		width: 60px;
		height: 60px;
	}
	.listGallerys__contDate {
		margin-bottom: 5px;
	}
}
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
//===================================
// Ниже переопределённые компоненты из
// файла repeatStyles.

// block

// elements

// modificators

// events

//===================================
