@import "../repeatStyles/help/variables.scss";
@import "../repeatStyles/help/mixins.scss";
//-----------------------------------
// block
.main {
	flex-direction: column;
	position: relative;
	align-items: center;
	@include parent-container(start);
	.container {
	}
}
// elements

// modificators

// events

//-----------------------------------
// block
.contacts {
	display: flex;
}
// elements
.contacts__row {
	display: flex;
}
.contacts__text {
	font-family: $font-2;
}
.contacts__map {
	max-width: 580px;
	width: 76%;
}
.contacts__h4 {
}
.contacts__grid {
	display: grid;
	font-size: 18px;
	line-height: 24px;
	grid-template-columns: 1fr 1.8fr;
	gap: 20px 0;
}
.contacts__linkIcons {
	max-width: 216px;
	display: flex;
	justify-content: space-between;
}
.contacts__block {
	margin-right: 20px;
}
.contacts__map {
	margin-bottom: 30px;
}
.contacts__icon {
	width: 36px;
	height: 36px;
}
// modificators

// events
@media (max-width: 900px) {
	.contacts {
		flex-direction: column;
	}
	.contacts__map {
		max-width: none;
		width: 100%;
	}
	.contacts__block {
		margin-right: 0;
		margin-bottom: 30px;
	}
}
@media (max-width: 630px) {
	.contacts__grid {
		font-size: 15px;
		line-height: 19px;
		grid-template-columns: 1fr 1.8fr;
		gap: 15px 0;
	}
	.contacts__icon {
		width: 28px;
		height: 28px;
	}
	.contacts__linkIcons {
		max-width: 190px;
	}
}
@media (max-width: 400px) {
	.contacts__grid {
		font-size: 12px;
		line-height: 15px;
		grid-template-columns: 1fr 1.8fr;
		gap: 12px 0;
	}
	.contacts__icon {
		width: 24px;
		height: 24px;
	}
	.contacts__linkIcons {
		max-width: 150px;
	}
}
//-----------------------------------
// block

// elements

// modificators

// events
//-----------------------------------
// block

// elements

// modificators

// events
//-----------------------------------
// block

// elements

// modificators

// events
//-----------------------------------
// block

// elements

// modificators

// events
//===================================
// Ниже переопределённые компоненты из
// файла repeatStyles.

// block

// elements

// modificators

// events

//===================================
