@import "../repeatStyles/help/variables.scss";
@import "../repeatStyles/help/mixins.scss";
//---------------------------------------------
// block
.main {
	flex-direction: column;
	position: relative;
	align-items: center;
	@include parent-container(start);
	.container {
	}
}
// elements
.main__contLocation {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__listLocations {
	display: flex;
	margin-bottom: 30px;
	justify-content: space-between;
}
.main__imgLocation {
	margin-bottom: 20px;
}
.main__textLocation {
	text-align: center;
	max-width: 150px;
	font-size: 15px;
	line-height: 20px;
	font-family: $font-2;
}
.main__h2 {
	margin-bottom: 20px;
	font-size: 32px;
	line-height: 43px;
	color: $color-6;
}
// modificators

// events
@media (max-width: 500px) {
	.main__h2 {
		font-size: 22px;
		line-height: 26px;
	}
}

//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
//===================================
// Ниже переопределённые компоненты из
// файла repeatStyles.

//---------------------------------------------
// block
.layout {
	margin-bottom: 30px;
}

// elements

// modificators

// events

//===================================
