@import "../repeatStyles/help/variables.scss";
@import "../repeatStyles/help/mixins.scss";
//---------------------------------------------
// block
.main {
	flex-direction: column;
	position: relative;
	align-items: center;
	@include parent-container(start);
	.container {
	}
}
// elements
.main__contImgHouse {
	height: 45.146vw;
	margin-bottom: 42px;
}
.main__contImg {
	position: absolute;
	height: 45.146vw;
	width: 100vw;
	left: 0;
}
.main__imgHouse {
	width: 100%;
}
.main__contImgHouseClick {
	position: absolute;
	// top: 16vw;
	top: 7vw;
	width: 14.6vw;
	height: 20.8vw;
	// height: 11vw;
	color: $color-2;

	display: flex;
	align-items: center;
	font-size: 1.25vw;
	line-height: 1.53vw;
	flex-direction: column;
	opacity: 0;
}
.main__imgHouseDate {
	z-index: 1;
	margin: 11vw 0 1vw 0;
	// margin: 2.2vw 0 1vw 0;
	max-width: 6.6vw;
}
.main__imgHouseLink {
	color: $color-2;
	z-index: 1;
	border-radius: 0.49vw;
	border: 1px solid #fff;
	padding: 0.49vw 0.63vw 0.7vw 0.86vw;
}
.main__imgHouseClick {
	width: 14.6vw;
	position: absolute;
	left: 0;
	bottom: 0;
}
// modificators
.main__contImgHouseClick_1 {
	left: 17.7vw;
}
.main__contImgHouseClick_2 {
	left: 30.1vw;
}
.main__contImgHouseClick_3 {
	left: 42.8vw;
}
.main__contImgHouseClick_4 {
	left: 55.25vw;
}
.main__contImgHouseClick_5 {
	left: 67.8vw;
}
// events
.main__contImgHouseClick:hover {
	opacity: 1;
}

@media (max-width: 600px) {
	.main__contImgHouse {
		margin-bottom: 20px;
		height: 275px;
	}
	.main__contImg {
		height: 275px;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.main__imgHouse {
		width: 610px;
	}
	.main__imgHouseClick {
		width: 89px;
		height: 72px;
	}
	.main__contImgHouseClick {
		top: 39px;
		height: 130px;
		width: 89px;
		line-height: 9px;
		font-size: 7px;
	}
	.main__imgHouseDate {
		margin: 71px 0 6px 0;
		max-width: 41px;
	}
	.main__contImgHouseClick_1 {
		left: 108px;
	}
	.main__contImgHouseClick_2 {
		left: 184px;
	}
	.main__contImgHouseClick_3 {
		left: 262px;
	}
	.main__contImgHouseClick_4 {
		left: 337px;
	}
	.main__contImgHouseClick_5 {
		left: 414px;
	}
	.main__imgHouseLink {
		padding: 3px 4px 4px 5px;
		border-radius: 3px;
	}
}

// block
.location {
}
// elements
.location__h2 {
	font-size: 32px;
	color: $color-6;
	margin: 0 0 47px 0;
	line-height: 44px;
}
.location__row {
	display: flex;
	justify-content: space-between;
}
.location__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}
.location__text {
	max-width: 150px;
	text-align: center;
	font-size: 15px;
	color: $color-6;
	font-family: $font-2;
}

.location__mapCont {
	position: absolute;
	left: 0;
	width: 100vw;
	height: 450px;
}
.location__map {
	width: 100%;
	height: 450px;
	margin-bottom: 40px;
}
// modificators
.location__row_housePage {
	flex-wrap: wrap;
	margin-bottom: 40px;
	justify-content: start;
	.location__column {
		width: 380px;
		flex-direction: row;
	}
	.location__text {
		max-width: 60%;
		text-align: start;
	}
	.location__icon {
		margin-right: 30px;
	}
}
// events
@media (max-width: 750px) {
	.location__h2 {
		font-size: 24px;
		line-height: 28px;
	}
	.location__row {
		flex-wrap: wrap;
	}
}
@media (max-width: 600px) {
	.location__h2 {
		font-size: 22px;

		margin: 0 0 20px 0;
		line-height: 26px;
	}
}
@media (max-width: 400px) {
	.location__row_housePage {
		.location__column {
			margin-bottom: 15px;
			width: 100%;
		}
		.location__icon {
			margin-right: 15px;
			width: 40px;
		}
		.location__text {
			width: auto;
			max-width: none;
			font-size: 14px;
		}
	}
}

//---------------------------------------------
// block
.cleanSheet {
	display: flex;
	width: 100%;
	margin-bottom: 56px;
	color: $color-6;
}
// elements
.cleanSheet__block {
	width: 50%;
	background-color: #eceff6;
	padding: 57px 51px 88px 100px;
}
.cleanSheet__img {
	width: 50%;
}
.cleanSheet__h2 {
	font-size: 32px;
	line-height: 43px;

	margin-bottom: 15px;
}
.cleanSheet__yourIdeasText {
	font-size: 24px;
	line-height: 32px;
	font-family: $font-2;
	margin-bottom: 22px;
}
.cleanSheet__text {
	font-size: 18px;
	line-height: 24px;
	font-family: $font-2;
}
// modificators

// events
@media (max-width: 1000px) {
	.cleanSheet__block {
		padding: 20px 20px 30px 40px;
	}
	.cleanSheet__h2 {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.cleanSheet__yourIdeasText {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 15px;
	}
	.cleanSheet__text {
		font-size: 15px;
		line-height: 19px;
	}
}
@media (max-width: 650px) {
	.cleanSheet__block {
		padding: 10px 10px 15px 20px;
	}
	.cleanSheet__h2 {
		font-size: 19px;
		line-height: 24px;
		margin-bottom: 5px;
	}
	.cleanSheet__yourIdeasText {
		font-size: 15px;
		line-height: 19px;
		margin-bottom: 10px;
	}
	.cleanSheet__text {
		font-size: 12px;
		line-height: 15px;
	}
}
@media (max-width: 450px) {
	.cleanSheet {
		flex-direction: column-reverse;
	}
	.cleanSheet__block {
		padding: 10px 10px 20px 20px;
		width: 100%;
	}
	.cleanSheet__img {
		width: 100%;
	}
	.cleanSheet__h2 {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 5px;
	}
	.cleanSheet__yourIdeasText {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.cleanSheet__text {
		font-size: 12px;
		line-height: 16px;
	}
}
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
//===================================
// Ниже переопределённые компоненты из
// файла repeatStyles.

//---------------------------------------------
// block

// elements

// modificators

// events

//===================================
