@import "../repeatStyles/help/variables.scss";
@import "../repeatStyles/help/mixins.scss";
//---------------------------------------------
// block
.main {
	flex-direction: column;
	position: relative;
	min-height: 1000px;
	align-items: center;
	@include parent-container(start);
	.container {
		h1 {
			color: $color-3;
			font-size: 48px;
			max-width: 700px;
			margin-bottom: 30px;
			line-height: 66px;
		}
	}
}

// elements
.main__contWay {
	margin: 56px 0 10px 0;
	display: flex;
	align-items: center;
}
.main__way {
	font-size: 15px;
	font-family: $font-2;
	line-height: 20px;
	color: $color-7;
	margin-right: 11px;
}
.main__wayArrow {
	margin-right: 11px;
}
.main__contFlats {
	position: relative;
	margin-bottom: 30px;
}
.main__imgFlats {
	width: calc(100% - 13.1vw);
	margin: 0 6.55vw;
}
// modificators

// events
//---------------------------------------------
// block
.searchFlats {
	display: flex;
	justify-content: space-between;
}
// elements
.searchFlats__filter {
}
.searchFlats__listFlats {
	margin-bottom: 40px;
}
// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
