@import "../repeatStyles/help/variables.scss";
@import "../repeatStyles/help/mixins.scss";
//---------------------------------------------
// block
.main {
	flex-direction: column;
	position: relative;

	align-items: center;
	@include parent-container(start);
	.container {
	}
}

// elements

.main__contFlats {
	position: relative;
	margin-bottom: 30px;
}
.main__imgFlats {
	width: calc(100% - 13.1vw);
	margin: 0 6.55vw;
	z-index: 0;
}
.main__imgSection {
	position: absolute;
	z-index: 3;
	opacity: 0;
}
// modificators
.main__imgSection_1 {
	left: 14.3%;
	top: 3%;
	width: 20%;
	max-width: 236px;
}
.main__imgSection_2 {
	left: 25%;
	top: 53%;
	width: 20%;
	z-index: 5;
	max-width: 236px;
}
.main__imgSection_3 {
	left: 45%;
	top: 53%;
	width: 30%;
	z-index: 5;
	max-width: 354px;
}
.main__imgSection_4 {
	left: 55.3%;
	top: 3%;
	width: 30.3%;
	max-width: 358px;
}
// events
.main__imgSection:hover {
	opacity: 1;
}
@media (min-width: 1500px) {
	.main__imgFlats {
		margin: 0 94px;
		width: calc(100% - 192px);
	}
}
//---------------------------------------------
// block
.searchFlats {
	display: flex;
	justify-content: space-between;
}
// elements

.searchFlats__listFlats {
	margin-bottom: 40px;
}
.searchFlats__explanationBlock {
	margin-bottom: 20px;
}
// modificators

// events
@media (max-width: 600px) {
	.searchFlats {
		flex-direction: column;
	}
	.searchFlats__filter {
		margin-bottom: 20px;
	}
}
//---------------------------------------------
// block

// elements

// modificators

// events
//---------------------------------------------
// block

// elements

// modificators

// events
