header.header
	.container
		.header__row
			.header__rowCont
				img(src="images/logo.png", alt="").header__logo
				.header__block
					.orderCall.orderCall_header.orderCall_js
						<svg class="orderCall__Img" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.11917 5.80769C0.87557 9.25228 2.60546 12.4071 5.10307 14.8969C7.59288 17.3945 10.7477 19.1244 14.1922 19.8808C15.2739 20.0996 16.3983 19.9089 17.3473 19.3456C18.2962 18.7823 19.0022 17.8866 19.328 16.8322L19.8412 15.2283L14.8611 12.7383L12.476 15.1234C10.7878 14.3902 9.24772 13.355 7.93137 12.0685C6.64495 10.7522 5.60971 9.21198 4.87657 7.52379L7.26167 5.13869L4.77167 0.158691L3.16777 0.671891C2.11341 0.997791 1.2177 1.7037 0.65439 2.65268C0.0910795 3.60165 -0.0996604 4.72604 0.11917 5.80769Z" fill="#6667AC"/>
						</svg>
						.orderCall__Text Заказать звонок
					.header__workTime
						.header__workTimeTextTop ЕЖЕДНЕВНО
						.header__workTimeTextBottom с 8:30 до 17:00
					.header__phoneNumbers 
						a(href="tel:+7 846 331-55-77").header__phoneNumber.header__phoneNumber_top +7 846 331-55-77
						a(href="tel:+7 927 026-88-58").header__phoneNumber +7 927 026-88-58
		.header__row.bc-3
			.header__mobileOrderCall.orderCall_js
				.header__mobileOrderCallCont
					.header__mobileOrderCallText Заказать звонок
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.11917 5.80769C0.87557 9.25228 2.60546 12.4071 5.10307 14.8969C7.59288 17.3945 10.7477 19.1244 14.1922 19.8808C15.2739 20.0996 16.3983 19.9089 17.3473 19.3456C18.2962 18.7823 19.0022 17.8866 19.328 16.8322L19.8412 15.2283L14.8611 12.7383L12.476 15.1234C10.7878 14.3902 9.24772 13.355 7.93137 12.0685C6.64495 10.7522 5.60971 9.21198 4.87657 7.52379L7.26167 5.13869L4.77167 0.158691L3.16777 0.671891C2.11341 0.997791 1.2177 1.7037 0.65439 2.65268C0.0910795 3.60165 -0.0996604 4.72604 0.11917 5.80769Z" fill="#fff"/>
					</svg>
			button.burger 
				.burger__line 
				.burger__line 
				.burger__line 
			nav.header__nav 
				ul.header__ul 
					li.header__li 
						a(href="").header__a  КВАРТИРЫ
					li.header__li 
						a(href="").header__a.navActive ПАРКИНГ
					li.header__li 
						a(href="").header__a  РАСПОЛОЖЕНИЕ
					li.header__li 
						a(href="").header__a  ХОД СТРОИТЕЛЬСТВА 
					li.header__li 
						a(href="").header__a  ДОКУМЕНТЫ
					li.header__li 
						a(href="").header__a  НОВОСТИ 
					li.header__li 
						a(href="").header__a  ВЕБ-КАМЕРЫ
					li.header__li 
						a(href="").header__a  КОНТАКТЫ
				<svg class="btnClose btnClose_headerNav" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.9993 0.666748C11.3623 0.666748 8.7844 1.44873 6.59175 2.91382C4.3991 4.37891 2.69014 6.46128 1.68096 8.89764C0.67179 11.3339 0.40775 14.0149 0.922217 16.6013C1.43668 19.1877 2.70656 21.5634 4.57127 23.4282C6.43596 25.2929 8.81174 26.5627 11.3981 27.0773C13.9845 27.5917 16.6655 27.3277 19.1017 26.3185C21.5381 25.3093 23.6205 23.6003 25.0856 21.4077C26.5507 19.215 27.3327 16.6371 27.3327 14.0001C27.3327 12.2491 26.9877 10.5153 26.3177 8.89764C25.6477 7.27996 24.6656 5.81011 23.4275 4.57199C22.1893 3.33388 20.7195 2.35175 19.1017 1.68168C17.4841 1.01163 15.7503 0.666748 13.9993 0.666748ZM17.7207 16.7787L16.778 17.7214L13.9993 14.9427L11.2207 17.7214L10.278 16.7787L13.0567 14.0001L10.278 11.2214L11.2207 10.2787L13.9993 13.0574L16.778 10.2787L17.7207 11.2214L14.942 14.0001L17.7207 16.7787Z" fill="#C4C4C4"/>
				</svg>
				.block-1.block-1_mobile.block-1_aie.block-1_mobileHeaderNav
					.block-1__workTime ЕЖЕДНЕВНО с 8:30 до 17:00
					a(href="tel:+7 846 331-55-77").block-1__phoneNumber.block-1__phoneNumber_1 +7 846 331-55-77
					a(href="tel:+7 927 026-88-58").block-1__phoneNumber +7 927 026-88-58
					.orderCall.orderCall_color-1.orderCall_mobileInBlock-1.orderCall_js
						<svg class="orderCall__Img" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.11917 5.80769C0.87557 9.25228 2.60546 12.4071 5.10307 14.8969C7.59288 17.3945 10.7477 19.1244 14.1922 19.8808C15.2739 20.0996 16.3983 19.9089 17.3473 19.3456C18.2962 18.7823 19.0022 17.8866 19.328 16.8322L19.8412 15.2283L14.8611 12.7383L12.476 15.1234C10.7878 14.3902 9.24772 13.355 7.93137 12.0685C6.64495 10.7522 5.60971 9.21198 4.87657 7.52379L7.26167 5.13869L4.77167 0.158691L3.16777 0.671891C2.11341 0.997791 1.2177 1.7037 0.65439 2.65268C0.0910795 3.60165 -0.0996604 4.72604 0.11917 5.80769Z" fill="#fff"/>
						</svg>
						.orderCall__Text Заказать звонок
					.block-1__linkIcons 
						a(href="")
							img.block-1__imgIcon(src="images/vkIcon.svg", alt="")
						a(href="")
							img.block-1__imgIcon(src="images/tgIcon.svg", alt="")
						a(href="")
							img.block-1__imgIcon(src="images/footer__telephoneIcon.svg", alt="")
						a(href="")
							img.block-1__imgIcon(src="images/whatsappIcon.svg", alt="")
					.block-1__location г.Самара, ул. Советской Армии, д. 181
		.orderCallForm
			.orderCallForm__cont
				.orderCallForm__miniCont
					h3.orderCallForm__h3 Заявка по квартире: двухкомнатная, № 132* 
					.labelInput.labelInput_orderCallForm
						input(type="text" required).labelInput__input.labelInput__input_orderCallForm 
						label.labelInput__label.labelInput__label_orderCallForm Имя
					.labelInput.labelInput_orderCallForm.labelInput_margin
						input(type="text" name="telephone" required).labelInput__input.labelInput__input_orderCallForm 
						label.labelInput__label.labelInput__label_orderCallForm Телефон
						.labelInput__invalidFormat Неправильный формат
					button.orderCallForm__submit Отправить
					.orderCallForm__text *Все поля обязательны для заполнения. Нажимая кнопкку “Отправить”, вы даете согласие на обработку ваших персональных данных.
				.orderCallForm__miniCont.df-fld-aic(style="display:none;")
					img(src="images/goodSmailik.svg", alt="").orderCallForm__smailik
					.orderCallForm__resText Заявка принята! 
					.orderCallForm__resText Мы свяжемся с Вами.
					button.orderCallForm__btnClose Закрыть
				.orderCallForm__miniCont.df-fld-aic(style="display:none;")
					img(src="images/badSmailik.svg", alt="").orderCallForm__smailik
					.orderCallForm__resText Что-то пошло не так! 
					.orderCallForm__resText Сообщение не отправлено, 
					.orderCallForm__resText попробуйте, пожалуйста, позже
					button.orderCallForm__btnClose Закрыть
				<svg class="btnClose btnClose_orderCallform" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.9993 0.666748C11.3623 0.666748 8.7844 1.44873 6.59175 2.91382C4.3991 4.37891 2.69014 6.46128 1.68096 8.89764C0.67179 11.3339 0.40775 14.0149 0.922217 16.6013C1.43668 19.1877 2.70656 21.5634 4.57127 23.4282C6.43596 25.2929 8.81174 26.5627 11.3981 27.0773C13.9845 27.5917 16.6655 27.3277 19.1017 26.3185C21.5381 25.3093 23.6205 23.6003 25.0856 21.4077C26.5507 19.215 27.3327 16.6371 27.3327 14.0001C27.3327 12.2491 26.9877 10.5153 26.3177 8.89764C25.6477 7.27996 24.6656 5.81011 23.4275 4.57199C22.1893 3.33388 20.7195 2.35175 19.1017 1.68168C17.4841 1.01163 15.7503 0.666748 13.9993 0.666748ZM17.7207 16.7787L16.778 17.7214L13.9993 14.9427L11.2207 17.7214L10.278 16.7787L13.0567 14.0001L10.278 11.2214L11.2207 10.2787L13.9993 13.0574L16.778 10.2787L17.7207 11.2214L14.942 14.0001L17.7207 16.7787Z" fill="#C4C4C4"/>
				</svg>