doctype html
html(lang='ru')
	include head
	body(class=pageClass)
		.wrapper#app
			block header
			block main 
			block footer
		//- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>
		//- <script src="icon_customImage.js" type="text/javascript"></script>
		script(src='js/app.js')