main.main 
	.container 
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Квартиры
		.parking.parking_margin
			.parking__block
				h1 Паркинг
				h3 Сэкономьте время на поиск парковки и сохраните двор для семеных прогулок.
				p Семиэтажный закрытый паркинг находится в границах жилого комплекса Олимп.  Въезд в паркинг осуществляется с торца по двупутной рампе. В здании есть лифт, кладовые для хранения и контроль доступа и видеонаблюдение. Для того, чтобы в здании было комфортно находиться, запроектирован контроль загазованности, также установлены датчики движения и система пожаротушения. 
				button.btnLeaveRequest.parking__btnLeaveRequest.orderCall_js ОСТАВИТЬ ЗАЯВКУ
			.delivery.parking__delivery
				.delivery__contInfo
					.delivery__textDate Сдача: 
						div III квартал: 2024
					img(src="images/differentImages/page_parking/parking__icon.svg", alt="").delivery__icon
				img(src="images/differentImages/page_parking/parking-img.png", alt="").delivery__imgFlat
		.explanationBlock
			img(src="images/differentImages/page_parking/explanationBlock__icon.svg", alt="").explanationBlock__icon
			h2.explanationBlock__h2 Выбор паркинга
		.filter
			.filter__text Этаж
			.filter__sections
				.filter__section(data_img_src="images/differentImages/page_parking/parking__img-1.png") -1
				.filter__section(data_img_src="images/differentImages/page_parking/parking__img-2.png") 1
				.filter__section(data_img_src="images/differentImages/page_parking/parking__img-3.png") 2
				.filter__section(data_img_src="images/differentImages/page_parking/parking__img-4.png") 3
				.filter__section(data_img_src="images/differentImages/page_parking/parking__img-5.png") 4 
				.filter__section(data_img_src="images/differentImages/page_parking/parking__img-6.png") 5
				.filter__section(data_img_src="images/differentImages/page_parking/parking__img-7.png") 6
				.filter__section(data_img_src="images/differentImages/page_parking/parking__img-8.png") 7 
		img(src="images/differentImages/page_parking/parking-img-2.png", alt="").main__parkingImg
		h3 Сэкономьте время на поиск парковки и сохраните двор для семеных прогулок.
		p Семиэтажный закрытый паркинг находится в границах жилого комплекса Олимп.  Въезд в паркинг осуществляется с торца по двупутной рампе. В здании есть лифт, кладовые для хранения и контроль доступа и видеонаблюдение. Для того, чтобы в здании было комфортно находиться, запроектирован контроль загазованности, также установлены датчики движения и система пожаротушения. 