main.main 
	.container
		.main__contWay
			.main__way Главная
			<svg class="main__wayArrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			.main__way Новости
			<svg class="main__wayArrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			.main__way 2022
		h1 H1 Получено разрешение на строительство паркинга
		p ООО Специализированный застройщик «Офис-центр» предлагает различные способы и схемы оплаты, в том числе работает с крупнейшими российскими банками. Мы можем подобрать выгодных для вас ипотечный кредит.
		p Заявка подается в несколько банков одновременно. Решение можно получить онлайн. Достаточно направить по электронной почте необходимые документы. Вы сможете сэкономить ваше время и средства!
		h2 H2 Почему я выбираю дома ЖК “Олимп”
		p ООО Специализированный застройщик «Офис-центр» предлагает различные способы и схемы оплаты, в том числе работает с крупнейшими российскими банками. Мы можем подобрать выгодных для вас ипотечный кредит.
		img(src="images/differentImages/page_article/main__img-1.png", alt="")
		p Заявка подается в несколько банков одновременно. Решение можно получить онлайн. Достаточно направить по электронной почте необходимые документы. Вы сможете сэкономить ваше время и средства!
		h3 Списки
		h6 В зависимости от внешнего вида наружных слоев на сорта: 
		ul
			li Сорт Е (элита),
			li Сорт I, 
			li Сорт II, vvvvvvvvvvvvvvvvvvvvvv vvvvvvvvvvvvvvvvvvvvvvvvv vvvvvvvvvvvvvvvvvvvvvvvvv vvvvvvvvvvvvvvvvvvvvvvvv
			li Сорт III,
			li Сорт IV
		blockquote Предназначена для обшивки стен, потолков, перегородок, в качестве настила под напольные покрытия, для опалубки, для изготовления тары и упаковки, а также в мебельном производстве. 
		h6 В зависимости от внешнего вида наружных слоев на сорта: 
		ol
			li Сорт Е (элита),
			li Сорт I, 
			li Сорт II, 
			li Сорт III, efffffffffffffffffffffff ffffffffffffffffffffffffffffffffffffff ffffffffffffffffffffffffffffff
			li Сорт IV
		h3 Таблица №1. Технические характеристики
		.contTable
			table
				thead
					tr 
						th Номер заказа
						th Получение
						th Сумма
						th Оплачено
				tboad
					tr
						td 28.03.2019
						td Самовывоз
						td 3 256,00 ₽
						td Да
					tr
						td 28.03.2019
						td Самовывоз
						td 50 136,00 ₽
						td Нет
					tr
						td 28.03.2019
						td Доставка
						td 36,00 ₽
						td Да
					tr
						td 28.03.2019
						td Самовывоз
						td 50 136,00 ₽
						td Нет
					tr
						td 28.03.2019
						td Доставка
						td 36,00 ₽
						td Да
		button Назад в архив
