main.main
	.container 
		.way
			a(href="").way__textWay  Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Распложение
		h1 Распложение
		.location 
			.location__row 
				.location__column 
					img(src="images/differentImages/page_main/icon-7.svg", alt="").location__icon 
					.location__text Географический центр Самары
				.location__column 
					img(src="images/differentImages/page_main/icon-8.svg", alt="").location__icon 
					.location__text Транспортная развязка
				.location__column 
					img(src="images/differentImages/page_main/icon-9.svg", alt="").location__icon 
					.location__text Парк им. Гагарина через дорогу
				.location__column 
					img(src="images/differentImages/page_main/icon-10.svg", alt="").location__icon 
					.location__text Университеты рядом
				.location__column 	
					img(src="images/differentImages/page_main/icon-11.svg", alt="").location__icon 
					.location__text Школы и детские сады
			.location__map
				.location__mapCont
					<script type="text/javascript"  charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A03e4a7c9f40a2f6c8e649324da4c14d71a30264cbf9ce55fa552cabc1b6cf54f&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
		h2.main__h2 План ЖК «ОЛИМП»
		.layout
			.layout__imgCont
				img(src="images/differentImages/page_main/layout__foto.jpg", alt="").layout__img
				a(href="").layout__imgClick.layout__imgClick_1 
					.layout__circleClick.layout__circleClick_1.layout__circleClick_passed
						div Дом №179
						div Дом сдан
					<svg  viewBox="0 0 224 353" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M223.5 76H194.5V80.5H160V76H74V322H68V352H0.5V8.5H114V1H223.5V76Z" fill="#41BCE7" fill-opacity="0.3" stroke="#22A6DC"/>
					</svg>
				a(href="").layout__imgClick.layout__imgClick_2
					.layout__circleClick.layout__circleClick_2.layout__circleClick_noPassed
						div Паркинг
						div Сдача до: 10.12.2022
					<svg  viewBox="0 0 292 131" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M179.5 91.5H1V66.5H24V60H33V40.5H57.5V18H179.5V1H205.5C227 1 238 21 233.5 40.5H251C311 44.5 296.5 130.5 251 130.5H199.5V102H179.5V91.5Z" fill="#FF0000" fill-opacity="0.3" stroke="#FF0000"/>
					</svg>
				a(href="").layout__imgClick.layout__imgClick_3
					.layout__circleClick.layout__circleClick_3.layout__circleClick_noPassed
						div Дом 3
						div Сдача до: 21.08.2024
					<svg viewBox="0 0 500 109" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M73 2.5H0.5V76H16V103H73V98.5H183.5V108H214.5V98.5H284.5V108H332.5V98.5H441.5V83H470V75H499V9.5H472V1H399.5V9.5H374V1H300V9.5H272.5V1H199.5V9.5H172V2.5H98.5V9.5H73V2.5Z" fill="#FF0000" fill-opacity="0.3" stroke="#FF0000"/>
					</svg>
		//- .layout
		//- 	.layout__imgCont
		//- 		img(src="images/differentImages/page_main/layout__foto.jpg", alt="").layout__img
		h3 Замечательный микрорайон. Чисто, свежо, красиво и вежливые соседи
		p Вот, что пишут жильцы о нашем жилом комплексе “Олимп”. Рядом школа и детские сады, парк. Магазины все в пешей доступности. Хорошая транспортная развязка. Удобный выезд с города. Чудесный парк рядом, до пляжа на Волге близко. Дома кирпичные, паркинг есть. 
		p Отличный ЖК, хорошее расположение, закрытый облагоустроенный чистый двор с автоматическим воротами, чистые подъезды, новые качественные дома с тёплыми квартирами.