main.main 
	.container
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Квартиры
		h1 Секция А (Дом № 3)
		.main__contFlats 
			img(src="images/differentImages/page_section/main__imgFlats.svg", alt="").main__imgFlats
			img(src="images/differentImages/page_section/section-img-1.svg", alt="").main__imgSection.main__imgSection_1
			img(src="images/differentImages/page_section/section-img-2.svg", alt="").main__imgSection.main__imgSection_2
			img(src="images/differentImages/page_section/section-img-3.svg", alt="").main__imgSection.main__imgSection_3
			img(src="images/differentImages/page_section/section-img-4.svg", alt="").main__imgSection.main__imgSection_4
		.searchFlats 
			.searchFlats__block 
				.explanationBlock.searchFlats__explanationBlock
					img(src="images/repeatImages/icon-filter.svg", alt="").explanationBlock__icon
					h2.explanationBlock__h2 Поиск квартир 
					.explanationBlock__arrow &#9660
				.filter
					.filter__text Секция
					.filter__sections
						.filter__section A
						.filter__section B
						.filter__section C
						.filter__section D
						.filter__section E 
					.filter__text  Количество комнат
					.filter__sections
						.filter__section 1
						.filter__section 2
						.filter__section 3
					.filter__text Стоимость, ₽
					.filter__contFilterPrice 
						.filter__contFilterPriceInputText
							input(type="text").filter__filterPriceInputText
							span -
							input(type="text").filter__filterPriceInputText
						input(type="range" ).filter__filterPriceSlider
					.filter__summary Найдено квартир: 52
			.listFlats
				.listFlats__header 
					.listFlats__headerWordLevel ЭТАЖ
					.listFlats__headerCont 
						.listFlats__headerText.listFlats__headerText_sale В продаже
						.listFlats__headerText.listFlats__headerText_reserve В резерве
						.listFlats__headerText.listFlats__headerText_bought Куплено
				.listFlats__contFlats 
					.listFlats__row
						.listFlats__level 17
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 16
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 15
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 14
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 13
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 12
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 11
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 10
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 9
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 8
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 7
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 6
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 5
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 4
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 3
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 2
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 1
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн