main.main 
	.container
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Квартиры
		h1 Дом №3
		.main__contImgHouse
			.main__contImg
				img(src="images/differentImages/page_house/main__imgHouse.png", alt="").main__imgHouse
				a(href="").main__contImgHouseClick.main__contImgHouseClick_1
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					.main__imgHouseLink Смотреть >
				a(href="").main__contImgHouseClick.main__contImgHouseClick_2
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					.main__imgHouseLink Смотреть >
				a(href="").main__contImgHouseClick.main__contImgHouseClick_3
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					.main__imgHouseLink Смотреть >
				a(href="").main__contImgHouseClick.main__contImgHouseClick_4
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					.main__imgHouseLink Смотреть >
				a(href="").main__contImgHouseClick.main__contImgHouseClick_5
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					.main__imgHouseLink Смотреть >
		.location 
			h2.location__h2 В гармонии с городом и природой
			.location__row.location__row_housePage
				.location__column 
					img(src="images/differentImages/page_house/location__img-1.svg", alt="").location__icon 
					.location__text Географический центр Самары 
				.location__column 
					img(src="images/differentImages/page_house/location__img-2.svg", alt="").location__icon 
					.location__text Парк им. Гагарина через дорогу
				.location__column 
					img(src="images/differentImages/page_house/location__img-3.svg", alt="").location__icon 
					.location__text Рядом университеты, школы и детские сады
				.location__column 
					img(src="images/differentImages/page_house/location__img-4.svg", alt="").location__icon 
					.location__text Отдельностоящий многоэтажный паркинг 
				.location__column 	
					img(src="images/differentImages/page_house/location__img-5.svg", alt="").location__icon 
					.location__text Просторные комнаты, широкие лоджии, кухни больше 12м2
				.location__column 	
					img(src="images/differentImages/page_house/location__img-6.svg", alt="").location__icon 
					.location__text Большая благоустроенная территория. 
				.location__column 
					img(src="images/differentImages/page_house/location__img-7.svg", alt="").location__icon 
					.location__text Дом — из кирпича! Толщина наружних стен = 64 см
				.location__column 	
					img(src="images/differentImages/page_house/location__img-8.svg", alt="").location__icon 
					.location__text Достойная высота потолков 2,7 м
		.cleanSheet
			.cleanSheet__block
				h2.cleanSheet__h2 С чистового листа!
				.cleanSheet__yourIdeasText Квартиры готовы для воплощения ваших идей по ремонту. Черновая отделка ЖК “Олипмп” включает:
				.cleanSheet__text перегородки внутренние (согласно проекту) из пазо-гребневых гипсовых блоков, стяжка пола и штукатурка кирпичных перегородок, разводка электрики по всей квартире, разводка отопления по полу, гидроизоляция в санузле, стояки, счетчики ГВС и ХВС с фильтрами первичной очистки, счетчики тепла, остекление лоджий.
			img(src="images/differentImages/page_house/clearSheet__img.jpg", alt="").cleanSheet__img
		.comeAndLive 
			.comeAndLive__contH2AndPrice
				div
					h2.h2 РЕМОНТ ОТМЕНЯЕТСЯ -
					h2.h2.h2__color МОЖНО ЗАЕЗЖАТЬ И ЖИТЬ !
				.priceInCont ОТ 3000 РУБ. ЗА КВ.М 
			p Никаких поездок в строительные магазины, подбор подрядчиков, затягивание сроков и бессонных ночей. Квартира готова к проживанию сразу же после сдачи дома.
			.comeAndLive__levelFlats
				.levelFlats(data_levelFlats="white_box")
					.levelFlats__contImg
						img(src="images/repeatImages/шьп.jpg", alt="").levelFlats__img 
					.levelFlats__textBlock
						.levelFlats__textLevel White Box
						.levelFlats__textPrice от 19000 руб./м2
				.levelFlats(data_levelFlats="white_box2")
					.levelFlats__contImg
						img(src="images/repeatImages/levelsFlats__img.png", alt="").levelFlats__img 
					.levelFlats__textBlock
						.levelFlats__textLevel White Box
						.levelFlats__textPrice от 19000 руб./м2
				.levelFlats(data_levelFlats="white_box3")
					.levelFlats__contImg
						img(src="images/repeatImages/levelsFlats__img.png", alt="").levelFlats__img 
					.levelFlats__textBlock
						.levelFlats__textLevel White Box
						.levelFlats__textPrice от 19000 руб./м2
				.levelFlats
					.levelFlats__contImg
						img(src="images/repeatImages/levelsFlats__img.png", alt="").levelFlats__img 
					.levelFlats__textBlock
						.levelFlats__textLevel White Box
						.levelFlats__textPrice от 19000 руб./м2
			.comeAndLive__blockIconWithText
				.blockIconWithText
					img(src="images/repeatImages/clock.png", alt="").blockIconWithText__img
					div
						.blockIconWithText__h2 ОПЕРАТИВНОСТЬ
						.blockIconWithText__text Lorem ipsum dolor ssimus consore odio rerum distinctio doloribus autem modi!
				.blockIconWithText
					img(src="images/repeatImages/pencil.png", alt="").blockIconWithText__img
					div
						.blockIconWithText__h2 НЕТ ШАБЛОННЫХ РЕШЕНИЙ 
						.blockIconWithText__text Lorem t alias ipsaor poentore odio rerum distinctio doloribus autem modi!
			.catalog.comeAndLive__catalog
				h2.catalog__h2 СКАЧАЙТЕ КАТАЛОГ С ПРИМЕРАМИ ОТДЕЛКИ
				.catalog__text Оставьте свой номер телефона, чтобы отправить каталог в месседжерыи ответить на все интересующие вас вопросы.
				.catalog__form
					input(type="text" placeholder="Ваше имя").catalog__input
					input(type="text" name="phone" placeholder="Номер телефона").catalog__input
					button.catalog__btn Получить каталог
				img(src="images/repeatImages/catalog__backgroundImg.png", alt="").catalog__backgroundImg
				img(src="images/repeatImages/catalog__img-2.png", alt="").catalog__img
			.comeAndLivePopup(style="display: none;")
				.comeAndLivePopup__container
					.comeAndLivePopup__close x
					.comeAndLivePopup__block
						.comeAndLivePopup__infoContainer
							.comeAndLivePopup__textVariable ВАРИАНТ ОТДЕЛКИ
							.comeAndLivePopup__h2 WHITE BOX
							.comeAndLivePopup__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum doloribus ullam unde commodi reprehenderit suscipit nobis architecto quasi adipisci ducimus voluptas maxime neque, repellendus voluptatum eum, voluptates ea. Laboriosam, esse.
							.comeAndLivePopup__text Оставьте свой 
							.priceInCont ОТ 3000 РУБ.ЗА КВ.М
						img(src="images/repeatImages/шьп.jpg", alt="").comeAndLivePopup__img
					.catalog.comeAndLivePopup__catalog
						h2.catalog__h2 СКАЧАЙТЕ КАТАЛОГ С ПРИМЕРАМИ ОТДЕЛКИ
						.catalog__text Оставьте свой номер телефона, чтобы отправить каталог в месседжерыи ответить на все интересующие вас вопросы.
						.catalog__form
							input(type="text"  placeholder="Ваше имя").catalog__input
							input(type="text" name="phone" placeholder="Номер телефона").catalog__input
							button.catalog__btn Получить каталог
						img(src="images/repeatImages/catalog__backgroundImg.png", alt="").catalog__backgroundImg
						img(src="images/repeatImages/catalog__img-2.png", alt="").catalog__img