main.main 
	.container
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Квартиры
		h1 Секция А (Дом № 3)

		.house-view 
			.house-view-picture 
				svg.house-view-svg(viewBox="0 0 1410 1009", fill="none", xmlns="http://www.w3.org/2000/svg")
					image(width="100%", height="100%", xlink:href="images/differentImages/page_section/section-1.svg", x="0", y="0")
					polygon.house-view-svg-action(points="789.000 171.000, 865.000 171.000, 865.000 158.000, 781.000 158.000, 781.000 129.000, 900.000 129.000, 900.000 158.000, 889.000 158.000, 889.000 171.000, 1001.000 171.000, 1001.000 423.000, 953.000 423.000, 953.000 427.000, 899.000 427.000, 899.000 445.000, 868.000 445.000, 868.000 436.000, 837.000 436.000, 837.000 423.000, 789.000 423.000, 789.000 171.000")
					polygon.house-view-svg-action(points="1102.000 171.000, 1011.000 171.000, 1011.000 423.000, 1066.000 423.000, 1066.000 445.000, 962.000 445.000, 962.000 449.000, 953.000 449.000, 953.000 484.000, 961.000 484.000, 961.000 496.000, 1014.000 496.000, 1014.000 666.000, 1213.000 666.000, 1213.000 372.000, 1213.000 262.000, 1213.000 221.000, 1142.000 221.000, 1142.000 212.000, 1213.000 212.000, 1213.000 167.000, 1116.000 167.000, 1116.000 221.000, 1102.000 221.000, 1102.000 171.000")
					polygon.house-view-svg-action(points="881.000 504.000, 789.000 504.000, 789.000 726.000, 847.000 726.000, 847.000 735.000, 789.000 735.000, 789.000 787.000, 875.000 787.000, 875.000 770.000, 888.000 770.000, 888.000 777.000, 1001.000 777.000, 1001.000 504.000, 961.000 504.000, 961.000 517.000, 913.000 517.000, 913.000 496.000, 881.000 496.000, 881.000 504.000")
					polygon.house-view-svg-action(points="672.000 504.000, 691.000 504.000, 691.000 497.000, 724.000 497.000, 724.000 513.000, 779.000 513.000, 779.000 807.000, 705.000 807.000, 705.000 816.000, 779.000 816.000, 779.000 854.000, 672.000 854.000, 672.000 816.000, 680.000 816.000, 680.000 807.000, 672.000 807.000, 672.000 504.000")
					polygon.house-view-svg-action(points="554.000 513.000, 609.000 513.000, 609.000 497.000, 642.000 497.000, 642.000 504.000, 662.000 504.000, 662.000 807.000, 654.000 807.000, 654.000 816.000, 662.000 816.000, 662.000 854.000, 554.000 854.000, 554.000 816.000, 628.000 816.000, 628.000 807.000, 554.000 807.000, 554.000 513.000")
					polygon.house-view-svg-action(points="121.000 165.000, 217.000 165.000, 217.000 375.000, 257.000 375.000, 257.000 387.000, 322.000 387.000, 322.000 437.000, 331.000 437.000, 331.000 374.000, 378.000 374.000, 378.000 428.000, 372.000 428.000, 372.000 450.000, 380.000 450.000, 380.000 482.000, 371.000 482.000, 371.000 495.000, 318.000 495.000, 318.000 666.000, 121.000 666.000, 121.000 222.000, 191.500 221.500, 192.000 213.000, 121.000 213.000, 121.000 165.000")
					polygon.house-view-svg-action(points="231.000 171.000, 322.000 171.000, 322.000 232.000, 332.000 232.000, 332.000 171.000, 442.000 171.000, 442.000 158.000, 433.000 158.000, 433.000 129.000, 552.000 129.000, 552.000 158.000, 467.000 158.000, 467.000 171.000, 544.000 171.000, 544.000 365.000, 544.000 437.000, 465.000 437.000, 465.000 428.000, 462.000 428.000, 462.000 444.000, 428.000 444.000, 428.000 428.000, 387.000 428.000, 387.000 365.000, 231.000 365.000, 231.000 171.000")
					polygon.house-view-svg-action(points="371.000 505.000, 332.000 505.000, 332.000 777.000, 444.000 777.000, 444.000 770.000, 458.000 770.000, 458.000 787.000, 544.000 787.000, 544.000 735.000, 486.000 735.000, 486.000 726.000, 544.000 726.000, 544.000 506.000, 453.000 506.000, 453.000 495.000, 420.000 495.000, 420.000 518.000, 371.000 518.000, 371.000 505.000")

		.searchFlats 
			.searchFlats__block 
				.explanationBlock.searchFlats__explanationBlock
					img(src="images/repeatImages/icon-filter.svg", alt="").explanationBlock__icon
					h2.explanationBlock__h2 Поиск квартир 
					.explanationBlock__arrow &#9660
				.filter
					.filter__text Секция
					.filter__sections
						.filter__section A
						.filter__section B
						.filter__section C
						.filter__section D
						.filter__section E 
					.filter__text  Количество комнат
					.filter__sections
						.filter__section 1
						.filter__section 2
						.filter__section 3
					.filter__text Стоимость, ₽
					.filter__contFilterPrice 
						.filter__contFilterPriceInputText
							input(type="text").filter__filterPriceInputText
							span -
							input(type="text").filter__filterPriceInputText
						input(type="range" ).filter__filterPriceSlider
					.filter__summary Найдено квартир: 52
			.listFlats
				.listFlats__header 
					.listFlats__headerWordLevel ЭТАЖ
					.listFlats__headerCont 
						.listFlats__headerText.listFlats__headerText_sale В продаже
						.listFlats__headerText.listFlats__headerText_reserve В резерве
						.listFlats__headerText.listFlats__headerText_bought Куплено
				.listFlats__contFlats.listFlats__contFlats--8
					.listFlats__row
						.listFlats__level 17
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 16
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 15
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought.listFlats__flat_filter
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 14
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 13
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 12
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 11
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 10
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 9
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 8
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 7
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 6
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 5
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 4
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 3
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 2
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 1
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						a(href="").listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн