main.main 
	.container
		.main__contWay
			.main__way Главная
			<svg class="main__wayArrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			.main__way Квартиры
		h1 Дом №3
		.main__contImgHouse
			.main__contImg
				img(src="images/differentImages/page_house/main__imgHouse.png", alt="").main__imgHouse
				.main__contImgHouseClick.main__contImgHouseClick_1
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					a(href="").main__imgHouseLink Смотреть >
				.main__contImgHouseClick.main__contImgHouseClick_2
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					a(href="").main__imgHouseLink Смотреть >
				.main__contImgHouseClick.main__contImgHouseClick_3
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					a(href="").main__imgHouseLink Смотреть >
				.main__contImgHouseClick.main__contImgHouseClick_4
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					a(href="").main__imgHouseLink Смотреть >
				.main__contImgHouseClick.main__contImgHouseClick_5
					img(src="images/differentImages/page_house/main__imgHouseClick.svg", alt="").main__imgHouseClick
					.main__imgHouseDate Сдача до: 10.12.2022
					a(href="").main__imgHouseLink Смотреть >
		.location 
			h2.location__h2 В гармонии с городом и природой
			.location__row.location__row_housePage
				.location__column 
					img(src="images/differentImages/page_house/location__img-1.svg", alt="").location__icon 
					.location__text Географический центр Самары 
				.location__column 
					img(src="images/differentImages/page_house/location__img-2.svg", alt="").location__icon 
					.location__text Парк им. Гагарина через дорогу
				.location__column 
					img(src="images/differentImages/page_house/location__img-3.svg", alt="").location__icon 
					.location__text Рядом университеты, школы и детские сады
				.location__column 
					img(src="images/differentImages/page_house/location__img-4.svg", alt="").location__icon 
					.location__text Отдельностоящий многоэтажный паркинг 
				.location__column 	
					img(src="images/differentImages/page_house/location__img-5.svg", alt="").location__icon 
					.location__text Просторные комнаты, широкие лоджии, кухни больше 12м2
				.location__column 	
					img(src="images/differentImages/page_house/location__img-6.svg", alt="").location__icon 
					.location__text Большая благоустроенная территория. 
				.location__column 
					img(src="images/differentImages/page_house/location__img-7.svg", alt="").location__icon 
					.location__text Дом — из кирпича! Толщина наружних стен = 64 см
				.location__column 	
					img(src="images/differentImages/page_house/location__img-8.svg", alt="").location__icon 
					.location__text Достойная высота потолков 2,7 м
		.cleanSheet
			.cleanSheet__block
				h2.cleanSheet__h2 С чистового листа!
				.cleanSheet__yourIdeasText Квартиры готовы для воплощения ваших идей по ремонту. Черновая отделка ЖК “Олипмп” включает:
				.cleanSheet__text перегородки внутренние (согласно проекту) из пазо-гребневых гипсовых блоков, стяжка пола и штукатурка кирпичных перегородок, разводка электрики по всей квартире, разводка отопления по полу, гидроизоляция в санузле, стояки, счетчики ГВС и ХВС с фильтрами первичной очистки, счетчики тепла, остекление лоджий.
			img(src="images/differentImages/page_house/clearSheet__img.jpg", alt="").cleanSheet__img
