main.main
	.container 
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Квартиры
		.flat.flat_margin
			.flat__block.flat__block_info
				h1 3-х комнатная квартира № 123
				h3.flat__h3 Дом №3, Секция “А”
				.flat__contPrice
					img(src="images/differentImages/page_flat/flat__icon.svg", alt="").flat__icon 
					.flat__price 7 524 000 ₽ 
				.flat__contInfo
					.flat__textInfo
						span Общая площадь:
						span 94,99  м2
					.flat__textInfo
						span Цена за 1 м2:
						span 125 000 ₽
					.flat__textInfo
						span Этаж:
						span 15
				button.btnLeaveRequest.flat__btn ОСТАВИТЬ ЗАЯВКУ
			.delivery
				.delivery__contInfo
					.delivery__textDate Сдача: 
						div III квартал: 2024
					img(src="images/differentImages/page_flat/flat__icon-2.svg", alt="").delivery__icon
				img(src="images/differentImages/page_flat/flat-img.png", alt="").delivery__imgFlat
		.explanationBlock
			img(src="images/differentImages/page_flat/location-icon.svg", alt="").explanationBlock__icon
			h2.explanationBlock__h2 Поиск квартир 
		.main__images 
			img(src="images/differentImages/page_flat/section-img.png", alt="").main__imgSection
			img(src="images/differentImages/page_flat/house-img.png", alt="").main__imgHouse