main.main
	.container 
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Веб-камеры
		h1 Веб-камеры
		.webCamers 
			.webCamers__grid 
				.webCamers__block 
					.webCamers__contIframe 
						img(src="images/differentImages/page_webCamers/webCamers__img.jpg", alt="").webCamers__img
					.webCamers__text Камера № 1 - Дом № 3
				.webCamers__block 
					.webCamers__contIframe 
						img(src="images/differentImages/page_webCamers/webCamers__img.jpg", alt="").webCamers__img
					.webCamers__text Камера № 1 - Дом № 3
				.webCamers__block 
					.webCamers__contIframe 
						img(src="images/differentImages/page_webCamers/webCamers__img.jpg", alt="").webCamers__img
					.webCamers__text Камера № 1 - Дом № 3