main.main 
	.container
		.main__contWay
			.main__way Главная
			<svg class="main__wayArrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			.main__way Квартиры
		h1 Секция А (Дом № 3)
		.main__contFlats 
			img(src="images/differentImages/page_section/main__imgFlats.png", alt="").main__imgFlats
			img(src="images/differentImages/page_section/section-img-1.svg", alt="").main__imgSection.main__imgSection_1
			img(src="images/differentImages/page_section/section-img-2.svg", alt="").main__imgSection.main__imgSection_2
			img(src="images/differentImages/page_section/section-img-3.svg", alt="").main__imgSection.main__imgSection_3
			img(src="images/differentImages/page_section/section-img-4.svg", alt="").main__imgSection.main__imgSection_4
		.searchFlats 
			.searchFlats__block 
				.explanationBlock
					img(src="images/repeatImages/icon-filter.svg", alt="").explanationBlock__icon
					h2.explanationBlock__h2 Поиск квартир 
				.filter.searchFlats__filter
					.filter__text Секция
					.filter__sections
						.filter__section A
						.filter__section B
						.filter__section C
						.filter__section D
						.filter__section E 
					.filter__text  Количество комнат
					.filter__sections
						.filter__section 1
						.filter__section 2
						.filter__section 3
					.filter__text Стоимость, ₽
					.filter__contFilterPrice 
						.filter__contFilterPriceInputText
							input(type="text").filter__filterPriceInputText
							span -
							input(type="text").filter__filterPriceInputText
						input(type="range" ).filter__filterPriceSlider
					.filter__summary Найдено квартир: 52
			.listFlats.searchFlats__listFlats
				.listFlats__header 
					.listFlats__headerWordLevel ЭТАЖ
					.listFlats__headerCont 
						.listFlats__headerText.listFlats__headerText_sale В продаже
						.listFlats__headerText.listFlats__headerText_reserve В резерве
						.listFlats__headerText.listFlats__headerText_bought Куплено
				.listFlats__contFlats 
					.listFlats__row
						.listFlats__level 17
						a(href="").listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 16
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 15
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 14
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 13
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 12
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 11
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 10
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 9
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 8
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 7
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 6
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 5
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 4
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 3
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 2
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
					.listFlats__row
						.listFlats__level 1
						.listFlats__flat.listFlats__flat_sale
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_reserve
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
						.listFlats__flat.listFlats__flat_bought
							.listFlats__flatQuantityRooms 1
							.listFlats__flatText 42,72 м2 4,45 млн
