main.main
	.container 
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Документы
		h1 Документы
		.documents
			.documents__NumberGroup Группа 1
			.documents__block
				img(src="images/differentImages/page_documents/download-icon.svg", alt="").documents__icon 
				.documents__contText 
					a(href="" download).documents__text Разрешение на ввод объекта в эксплуатацию от 30.12.2016г
					.documents__textWeight Pdf, 0.4 mb
			.documents__block
				img(src="images/differentImages/page_documents/download-icon.svg", alt="").documents__icon 
				.documents__contText 
					a(href="" download).documents__text Разрешение на ввод объекта в эксплуатацию от 30.12.2016г
					.documents__textWeight Pdf, 0.4 mb
			.documents__block
				img(src="images/differentImages/page_documents/download-icon.svg", alt="").documents__icon 
				.documents__contText 
					a(href="" download).documents__text Разрешение на ввод объекта в эксплуатацию от 30.12.2016г
					.documents__textWeight Pdf, 0.4 mb
			.documents__block
				img(src="images/differentImages/page_documents/download-icon.svg", alt="").documents__icon 
				.documents__contText 
					a(href="" download).documents__text Разрешение на ввод объекта в эксплуатацию от 30.12.2016г
					.documents__textWeight Pdf, 0.4 mb
			.documents__NumberGroup Группа 2
			.documents__block
				img(src="images/differentImages/page_documents/download-icon.svg", alt="").documents__icon 
				.documents__contText 
					a(href="" download).documents__text Разрешение на ввод объекта в эксплуатацию от 30.12.2016г
					.documents__textWeight Pdf, 0.4 mb
			.documents__block
				img(src="images/differentImages/page_documents/download-icon.svg", alt="").documents__icon 
				.documents__contText 
					a(href="" download).documents__text Разрешение на ввод объекта в эксплуатацию от 30.12.2016г
					.documents__textWeight Pdf, 0.4 mb
			.documents__block
				img(src="images/differentImages/page_documents/download-icon.svg", alt="").documents__icon 
				.documents__contText 
					a(href="" download).documents__text Разрешение на ввод объекта в эксплуатацию от 30.12.2016г
					.documents__textWeight Pdf, 0.4 mb
			.documents__block
				img(src="images/differentImages/page_documents/download-icon.svg", alt="").documents__icon 
				.documents__contText 
					a(href="" download).documents__text Разрешение на ввод объекта в эксплуатацию от 30.12.2016г
					.documents__textWeight Pdf, 0.4 mb
		h2 Почему я выбираю дома ЖК “Олимп”H2 SEO
		p ООО Специализированный застройщик «Офис-центр» предлагает различные способы и схемы оплаты, в том числе работает с крупнейшими российскими банками. Мы можем подобрать выгодных для вас ипотечный кредит.
		p Заявка подается в несколько банков одновременно. Решение можно получить онлайн. Достаточно направить по электронной почте необходимые документы. Вы сможете сэкономить ваше время и средства!