main.main
	.container 
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Квартиры
		h1 Квартиры
		.seeFlats
			.seeFlats__block
				a(href="").seeFlats__contImg 
					.seeFlats__imgTextBackgtround СМОТРЕТЬ КВАРТИРЫ
					.seeFlats__imgText Продажи открыты!
					img(src="images/differentImages/page_flats/flats-img-1.jpg", alt="").seeFlats__img
				.seeFlats__rowInfo 
					.seeFlats__house Дом № 3
					.seeFlats__contDelivery
						.seeFlats__textDelivery Сдача: 4 квартал 2023
						img(src="images/differentImages/page_flats/flats-icon.svg", alt="").seeFlats__iconDelivery
			.seeFlats__block
				a(href="").seeFlats__contImg 
					.seeFlats__imgTextBackgtround СМОТРЕТЬ КВАРТИРЫ
					.seeFlats__imgText Продажи открыты!
					img(src="images/differentImages/page_flats/flats-img-1.jpg", alt="").seeFlats__img
				.seeFlats__rowInfo 
					.seeFlats__house Дом № 179
					.seeFlats__contDelivery
						.seeFlats__textDelivery Дом сдан
						img(src="images/differentImages/page_flats/flats-icon.svg", alt="").seeFlats__iconDelivery
			.seeFlats__block
				a(href="").seeFlats__contImg 
					.seeFlats__imgTextBackgtround СМОТРЕТЬ КВАРТИРЫ
					.seeFlats__imgText Продажи открыты!
					img(src="images/differentImages/page_flats/flats-img-1.jpg", alt="").seeFlats__img
				.seeFlats__rowInfo 
					.seeFlats__house Дом № 198
					.seeFlats__contDelivery
						.seeFlats__textDelivery Дом сдан
						img(src="images/differentImages/page_flats/flats-icon.svg", alt="").seeFlats__iconDelivery
		h2 Почему я выбираю дома ЖК “Олимп”H2 SEO
		p ООО Специализированный застройщик «Офис-центр» предлагает различные способы и схемы оплаты, в том числе работает с крупнейшими российскими банками. Мы можем подобрать выгодных для вас ипотечный кредит.
		p Заявка подается в несколько банков одновременно. Решение можно получить онлайн. Достаточно направить по электронной почте необходимые документы. Вы сможете сэкономить ваше время и средства!