main.main
	.container 
		.way
			a(href="").way__textWay Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Ход строительства
		h1 Июль 2022 - Дом № 3. Очереди А, Б, В, Г
		.galleryAlbum
			.galleryAlbum__grid 
				.galleryAlbum__contImg.galleryAlbum__contImgBig
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="" ).galleryAlbum__img
				.galleryAlbum__contImg
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-2.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
				.galleryAlbum__contImg 
					.galleryAlbum__textBackGroundImg СМОТРЕТЬ
					img(src="images/differentImages/page_galleryAlbum/galleryAlbum__img-1.jpg", alt="").galleryAlbum__img
			.galleryAlbum__contSlider
				.galleryAlbum__slider 
					.galleryAlbum__sliderCont 
					.galleryAlbum__contArrows 
						.galleryAlbum__arrow.galleryAlbum__arrowBack
							<svg  class="galleryAlbum__arrowBack" width="16" height="20" viewBox="0 0 12 20" fill="#2363d1" xmlns="http://www.w3.org/2000/svg"><path class="galleryAlbum__arrowBack" d="M2.18002 19.0499L0.77002 17.6399L8.40002 9.99995L0.77002 2.35995L2.18002 0.949951L11.23 9.99995L2.18002 19.0499Z"></path></svg>
						.galleryAlbum__arrow.galleryAlbum__arrowNext
							<svg  class="galleryAlbum__arrowNext" width="16" height="20" viewBox="0 0 12 20" fill="#2363d1" xmlns="http://www.w3.org/2000/svg"><path class="galleryAlbum__arrowNext" d="M2.18002 19.0499L0.77002 17.6399L8.40002 9.99995L0.77002 2.35995L2.18002 0.949951L11.23 9.99995L2.18002 19.0499Z"></path></svg>
					//- .galleryAlbum__contPoints
					//- 	.galleryAlbum__points
		h2 Почему я выбираю дома ЖК “Олимп”H2 SEO
		p ООО Специализированный застройщик «Офис-центр» предлагает различные способы и схемы оплаты, в том числе работает с крупнейшими российскими банками. Мы можем подобрать выгодных для вас ипотечный кредит.
		p Заявка подается в несколько банков одновременно. Решение можно получить онлайн. Достаточно направить по электронной почте необходимые документы. Вы сможете сэкономить ваше время и средства!
