main.main
	.container 
		.way
			a(href="").way__textWay  Главная
			<svg class="way__arrow" width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.12158 0.437417L6.68359 6.00008L1.12158 11.5627L0.650247 11.0914L5.74093 6.00008L0.650248 0.90875L1.12158 0.437417Z" fill="#757575"/>
			</svg>
			a(href="").way__textWay Распложение
		h1 Распложение
		.location 
			.location__row 
				.location__column 
					img(src="images/differentImages/page_main/icon-7.svg", alt="").location__icon 
					.location__text Географический центр Самары
				.location__column 
					img(src="images/differentImages/page_main/icon-8.svg", alt="").location__icon 
					.location__text Транспортная развязка
				.location__column 
					img(src="images/differentImages/page_main/icon-9.svg", alt="").location__icon 
					.location__text Парк им. Гагарина через дорогу
				.location__column 
					img(src="images/differentImages/page_main/icon-10.svg", alt="").location__icon 
					.location__text Университеты рядом
				.location__column 	
					img(src="images/differentImages/page_main/icon-11.svg", alt="").location__icon 
					.location__text Школы и детские сады
			.location__map
				.location__mapCont
					<script type="text/javascript"  charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A03e4a7c9f40a2f6c8e649324da4c14d71a30264cbf9ce55fa552cabc1b6cf54f&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
		h2.main__h2 План ЖК «ОЛИМП»
		.layout
			.layout__imgCont
				img(src="images/differentImages/page_main/layout__foto.jpg", alt="").layout__img
		h3 Замечательный микрорайон. Чисто, свежо, красиво и вежливые соседи
		p Вот, что пишут жильцы о нашем жилом комплексе “Олимп”. Рядом школа и детские сады, парк. Магазины все в пешей доступности. Хорошая транспортная развязка. Удобный выезд с города. Чудесный парк рядом, до пляжа на Волге близко. Дома кирпичные, паркинг есть. 
		p Отличный ЖК, хорошее расположение, закрытый облагоустроенный чистый двор с автоматическим воротами, чистые подъезды, новые качественные дома с тёплыми квартирами.